# Using Orion for Custom Data

This notebook is quick tutorial to use Orion on custom data.

## Step 1: Load your data

In [1]:
# signal from orion library that you can replace with your own data

from orion.data import load_signal

data = load_signal('S-1')

data.head()

    timestamp     value
0  1222819200 -0.366359
1  1222840800 -0.394108
2  1222862400  0.403625
3  1222884000 -0.362759
4  1222905600 -0.370746

If your data is not following the Orion standard, we need to format it such that it contains two columns:
- **timestamp**: an integer representation of time.
- **values**: the observed value of the time series at that specific time.

Format the data if necessary

In [2]:
import pandas as pd
import numpy as np

# convert the timestamp column into timestamps (integer values)

timestamps = pd.to_datetime(data['timestamp'], unit='s')
data['timestamp'] = timestamps.values.astype(np.int64) // 10 ** 9

# rename columns in the dataframe to two important columns: timestamp, and value

data = data.rename({"timestamp": "timestamp", "value": "value"})
data.head()

    timestamp     value
0  1222819200 -0.366359
1  1222840800 -0.394108
2  1222862400  0.403625
3  1222884000 -0.362759
4  1222905600 -0.370746

## Step 2: Run Orion

Use Orion to find anomalies in your time series signal.

Orion provides a collection of anomaly detection pipelines which you can choose from. You can view the pipelines and their ranking in our [leaderbord](https://github.com/sintel-dev/Orion?tab=readme-ov-file#leaderboard).

In this tutorial, we will use `AER` model.

In [2]:
from orion import Orion

hyperparameters = { # alter the hyperparameter settings here
    'mlstars.custom.timeseries_preprocessing.time_segments_aggregate#1': {
        'interval': 21600
    },
    'orion.primitives.aer.AER#1': {
        'epochs': 5,
        'verbose': True
    }
}

orion = Orion(
    pipeline='aer',
    hyperparameters=hyperparameters
)

orion.fit(data)

ModuleNotFoundError: No module named 'orion'

Now we can use the trained pipeline to find anomalies:

In [4]:
orion.detect(data)

315/315 [==============================] - 1s 2ms/step
315/315 [==============================] - 1s 3ms/step

        start         end  severity
0  1400716800  1405404000  0.117529

For any questions, please open an issue on
[Orion github](https://github.com/sintel-dev/Orion)!